<h1>User Data for <%= users.name %> </h1>
<table>
    <tr>
        <th>Name</th>
        <td><%= users.name %> </td>
    </tr>
<table>
    <tr>
        <th>Email</th>
        <td><%= users.email %> </td>
    </tr>
<table>
    <tr>
        <th>Zip Code</th>
        <td><%= users.zipCode %> </td>
    </tr>
</table>
<p>This users has <%= users.courses.length %> associated course(s)</p>